@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #1e913b;
  --secondary-color: #212429;
  --text-light: #d1d5db;
  --white: #ffffff;
  --black: #000000;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url("assets/bg.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  max-width: var(--max-width);
  margin-inline: auto;
  z-index: 9;
}

.nav__header {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
}

.nav__logo a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--black);
}

.nav__logo img {
  display: flex;
  max-width: 130px;
}

.nav__logo span {
  display: none;
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--black);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--white);
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%);
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links a {
  font-size: 1.2rem;
  color: var(--black);
}

.nav__links a:hover {
  color: var(--secondary-color);
}

.header__container {
  max-width: var(--max-width);
  margin-inline: auto;
  padding-block: 5rem 2rem;
  padding-inline: 1rem;
  display: grid;
  gap: 2rem;
}

.header__image img {
  width: 100%;
  max-width: 500px;
  margin-inline: auto;
  display: flex;
}

.header__content {
  overflow: hidden;
  text-align: center;
}

.header__content h2 {
  position: relative;
  isolation: isolate;
  max-width: fit-content;
  margin-left: auto;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--primary-color);
  text-align: right;
}

.header__content h2::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translate(calc(-100% - 1rem), -50%);
  height: 2px;
  width: 150%;
  background-color: var(--black);
}

.header__content h1 {
  font-size: 5rem;
  font-weight: 600;
  color: var(--black);
  line-height: 5rem;
}

.h1__span-1 {
  font-size: 4rem;
  color: var(--primary-color);
}

.h1__span-2 {
  font-size: 2rem;
  font-weight: 400;
}

.header__content p {
  margin-bottom: 2rem;
  color: var(--black);
}

.header__content .btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 5rem;
  transition: 0.3s;
  cursor: pointer;
}

.header__content .btn:hover {
  color: var(--primary-color);
  background-color: var(--black);
}

.socials {
  padding-block: 2rem 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.socials a {
  font-size: 1.5rem;
  color: var(--black);
}

.socials a:hover {
  color: var(--primary-color);
}

.header__bar {
  font-size: 0.9rem;
  color: var(--black);
}

.about__container {
  max-width: var(--max-width);
  margin-inline: auto;
  padding: 6rem 1rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 2rem;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.05);
}

.about__content {
  max-width: 800px;
  width: 100%;
}

.about__subtitle {
  position: relative;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.about__subtitle::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--black);
  bottom: -6px;
  left: 0;
}

.about__title {
  font-size: 2.5rem;
  line-height: 3.5rem;
  font-weight: 600;
  color: var(--black);
  margin-bottom: 2rem;
}

.about__highlight {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--primary-color);
}

.about__text {
  font-size: 1rem;
  color: var(--black);
  margin-bottom: 2rem;
}

.about__address {
  margin-top: 2rem;
}

.about__address p {
  font-size: 1rem;
  color: var(--black);
  margin-bottom: 0.2rem;
}

.about__btn .btn {
  padding: 0.75rem 2rem;
  font-size: 1rem;
  border: none;
  background-color: var(--primary-color);
  color: var(--white);
  border-radius: 5rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.about__btn .btn:hover {
  background-color: var(--black);
  color: var(--primary-color);
}

.about__bar {
  margin-top: 3rem;
  font-size: 0.9rem;
  color: var(--black);
}

.about__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin: 2rem 0;
}

.about__card {
  background-color: var(--white);
  white-space: nowrap;
  padding: 1.5rem;
  border-radius: 1.5rem;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s, box-shadow 0.3s;
}

.about__card h3 {
  font-size: 1.25rem;
  color: var(--primary-color);
  font-weight: 600;
  margin: 0;
}

@media (min-width: 768px) {
  .about__title {
    font-size: 3rem;
  }

  .about__highlight {
    font-size: 1.75rem;
  }

  .about__text {
    font-size: 1.1rem;
  }

  .about__address p {
    font-size: 1.05rem;
  }

  
}

@media (max-width: 956px){
  .about__cards{
    flex-direction: column;
  }
}

@media (width > 768px) {
  nav {
    position: static;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .nav__header {
    padding: 0;
    background-color: transparent;
  }

  .nav__logo span {
    display: flex;
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    padding: 0;
    flex-direction: row;
    justify-content: flex-end;
    gap: 3rem;
    background-color: transparent;
    transform: none;
  }

  .nav__links a:hover {
    color: var(--primary-color);
  }

  .header__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding-block: 2rem;
  }

  .header__image {
    grid-area: 1/2/2/3;
  }

  .header__content {
    text-align: left;
  }

  .socials {
    justify-content: flex-start;
  }
}
